<h2>Sign in</h2>

<% form_for :session, :url => session_path, :html => {:class => 'form'} do |form| %>
  <table class="form">
    <tr>
      <td><%= form.label :email %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password %></td>
      <td><%= form.password_field :password %></td>
    </tr>
    <tr>
      <td colspan="2">
        <div style="float:left;">
          <%= form.label :remember_me %>
          <%= form.check_box :remember_me %>
        </div>
        <div style="float:right;">
          <%= form.submit "Sign in", :disable_with => "Please wait..." %>
        </div>
        <div style="clear:both;"></div>
      </td>
    </tr>
  </table>
<% end %>

<ul>
  <li>
    <%= link_to "Register", new_user_path %>
  </li>
  <li>
    <%= link_to "Forgot password?", new_password_path %>
  </li>
</ul>