<% if show_admin_content? %>
  Admin: <%= link_to "New Forum", new_forum_path %>
<% end %>

<table class='forum-list'>
  <tr>
    <th class='title'>Forum</th>
    <th class='topic-count'>Topics</th>
    <th class='post-count'>Posts</th>
    <th class='last-post'>Last Post</th>
  </tr>
  <% @forums.each do |forum| %>
    <tr>
      <td class='title'>
        <div class="title"><%= link_to forum.title, forum_path(forum) %></div>
        <div class="description">
          <%= forum.description %>
        </div>
      </td>
      <td class='topic-count'><%= forum.topics.size %></td>
      <td class='post-count'><%= forum.posts.count %></td>
      <td class='last-post'>
        <% if forum.last_post %>
          <div>
            <%= link_to forum.posts.last.title, topic_post_path(forum.posts.last.topic, forum.posts.last) %>
            by <%= link_to forum.posts.last.user.name, user_path(forum.posts.last.user) %>
            <%= time_ago_in_words(forum.posts.last.created_at) %> ago
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
