<h1>New Forum</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :allow_topics %>
    <%= f.check_box :allow_topics %>
    <%# put checkbox for allow_topics %>
  </p>
  <p>
    
    <%# put drop down list for parent here, include none as option %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forums_path %>
