<%= render :partial => 'forums/trail' %>
<h3>New Topic</h3>

<% form_for @post, :url => forum_topics_path(params[:forum_id]) do |f| %>
  <%= f.error_messages %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :body %>
    <%= f.text_area :body, :rows => 10, :cols => 80 %>
  </div>
  <div class="form-field">
    <%= f.submit "Create" %>
  </div>
  <div style="clear:both;"></div>
<% end %>
