<%= render :partial => 'forums/trail' %>

<div>
  <%= link_to "Post Reply", new_topic_post_path(@topic) %>
</div>

<div class="thread">
  <% @topic.posts.each do |post| -%>
      <div class="post">
        <div class="title"><%= link_to post.title.blank? ? "(no title)" : post.title, topic_path(@topic).concat("##{post[:id]}") %></div>
        <div class="actions">::
          <%= link_to "Edit", edit_post_path(post) if post.user == current_user %>
          <!-- <%= link_to "Quote" %> -->
        </div>
        <div class="info">
          by <%= link_to post.user.name, user_path(post.user) %>
          <%= time_ago_in_words(post.created_at) %> ago
          <% if post.created_at != post.updated_at %>
            (last updated <%= time_ago_in_words(post.updated_at) %> ago)
          <% end %>
        </div>
        <div class="body"><%= post.body %></div>
      </div>
  <% end %>
</div>
