= stylesheet_link_tag 'tablesorter-style'
= javascript_include_tag 'jquery.tablesorter.js'

%h3 Showing all toons

%table
  %thead
    %tr
      %th Name
      %th Class
      %th Primaries
      %th Secondaries
      %th Rank
  %tbody
    - @toons.each do |toon|
      %tr
        %td= toon.name
        %td= formatted_job(toon.job)
        %td= toon.primary_loots.count
        %td= toon.secondary_loots.count
        %td= RANKS[toon.rank] unless toon.rank.nil?
