<h1>Editing loot</h1>

<% form_for(@loot) do |f| %>
  <%= f.error_messages %>
  <p>Toon: <%= f.collection_select(:toon_id, Toon.find(:all, :order => 'name'), :id, :name) %></p>
  <p>Status: <%= f.select :status, %w(primary secondary banked disenchanted) %></p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @loot %> |
<%= link_to 'Back', loots_path %>
