= javascript_include_tag 'tablefilter'

%h1 Listing Loots

%p
  Toon:
  %input{:type => 'text', :name => 'toon_filter', :id => 'toon_filter', :size => '20'}

  &nbsp;&nbsp;

  Item:
  %input{:type => 'text', :name => 'item_filter', :id => 'item_filter', :size => '20'}

  &nbsp;&nbsp;

  Raid:
  = select_tag 'raid_filter', '<option value="all">All</option>' + options_from_collection_for_select(Raid.all(:order => "start_at desc"), "id", "formatted_start_at"), :class => 'raid_filter'

  %br

  Primary:
  %input{:type => 'checkbox', :id => 'primary_filter', :name => 'primary_filter', :checked => true, :style => 'vertical-align:middle'}

  &nbsp;&nbsp;

  Secondary:
  %input{:type => 'checkbox', :id => 'secondary_filter', :name => 'secondary_filter', :checked => true, :style => 'vertical-align:middle'}
  
  &nbsp;&nbsp;

  %input{:type => 'button', :value => 'Reset Filters', :name => 'reset_filters', :onclick => "reset_filters();"}

%table#loot
  %thead
    %tr
      %th Toon
      %th Priority
      %th Name
      %th Actions
      %th PC
      %th SC
      %th Raid Date
  %tbody.filterable
    - @loots.each do |loot|
      %tr
        %td.toon_name= loot.toon.name
        %td.priority= loot.primary ? "Primary" : "Secondary"
        %td.item_name= link_to loot.item.name, wowhead_url(loot.item_id)
        / %td= link_to loot.item.name, item_path(loot.item_id)
        %td= link_to "Edit", edit_loot_path(loot)
        %td= loot.toon.loots.count(:conditions => {:primary => true})
        %td= loot.toon.loots.count(:conditions => {:primary => false})
        %td.raid_date= loot.raid.start_at.to_s(:raid)
        %td.raid_id{:style => "display:none"}= loot.raid.id