= stylesheet_link_tag 'tablesorter-style'
= javascript_include_tag 'jquery.tablesorter.js'
= javascript_include_tag 'tablefilter'

%p
  Toon:
  %input{:type => 'text', :name => 'toon_filter', :id => 'toon_filter', :size => '20'}

  &nbsp;&nbsp;

  Item:
  %input{:type => 'text', :name => 'item_filter', :id => 'item_filter', :size => '20'}

  &nbsp;&nbsp;

  Raid:
  = select_tag 'raid_filter', '<option value="all">All</option>' + options_from_collection_for_select(Raid.all(:order => "start_at desc"), "id", "formatted_start_at"), :class => 'raid_filter'

  %br
  %br

  Primary:
  %input{:type => 'checkbox', :id => 'primary_filter', :name => 'primary_filter', :checked => true, :style => 'vertical-align:middle'}

  &nbsp;&nbsp;

  Secondary:
  %input{:type => 'checkbox', :id => 'secondary_filter', :name => 'secondary_filter', :checked => true, :style => 'vertical-align:middle'}
  
  &nbsp;&nbsp;

  %input{:type => 'button', :value => 'Reset Filters', :name => 'reset_filters', :onclick => "reset_filters();"}

%table#loot.tablesorter
  %thead
    %tr
      %th Toon
      %th Class
      %th Priority
      %th Name
      %th Slot
      %th Subclass
      %th Actions
      / %th PC
      / %th SC
      %th Raid Date
  %tbody.filterable
    - @loots.each do |loot|
      %tr
        %td.toon_name= loot.toon.name
        %td.toon_job= formatted_job(loot.toon.job)
        %td.priority= loot.primary ? "Primary" : "Secondary"
        %td.item_name= link_to loot.item.name, wowhead_url(loot.item_id)
        %td.item_slot= inventory_type_name(loot.item.inventory_type)
        %td.item_subclass= loot.item.subclass_name
        / %td= link_to loot.item.name, item_path(loot.item_id)
        %td
          - if show_admin_content?
            = link_to "Edit", edit_loot_path(loot)
            = link_to "Remove", loot_path(loot), :method => :delete, :confirm => 'Are you sure you want to delete this loot?'
          - else
            = link_to "Show", loot_path(loot)
        / %td= loot.toon.loots.count(:conditions => {:primary => true})
        / %td= loot.toon.loots.count(:conditions => {:primary => false})
        %td.raid_date= loot.raid.start_at.to_s(:raid)
        %td.raid_id{:style => "display:none"}= loot.raid.id