= javascript_include_tag 'tablefilter'

%h1 Listing Loots

%p
  Toon:
  %input{:type => 'text', :name => 'toon_filter', :id => 'toon_filter', :size => '30'}

  &nbsp;&nbsp;

  Item:
  %input{:type => 'text', :name => 'item_filter', :id => 'item_filter', :size => '30'}

  &nbsp;&nbsp;

  Primary:
  %input{:type => 'checkbox', :name => 'primary_filter', :checked => true, :style => 'vertical-align:middle'}

  &nbsp;&nbsp;

  Secondary:
  %input{:type => 'checkbox', :name => 'secondary_filter', :checked => true, :style => 'vertical-align:middle'}
  
%table
  %thead
    %tr
      %th Toon
      %th Priority
      %th Name
      %th Actions
      %th PC
      %th SC
      %th Raid Date
  %tbody.filterable
    - @loots.each do |loot|
      %tr
        %td.toon_name= loot.toon.name
        %td.primary_secondary= loot.primary ? "Primary" : "Secondary"
        %td.item_name= link_to loot.item.name, wowhead_url(loot.item_id)
        / %td= link_to loot.item.name, item_path(loot.item_id)
        %td= link_to "Edit", edit_loot_path(loot)
        %td= loot.toon.loots.count(:conditions => {:primary => true})
        %td= loot.toon.loots.count(:conditions => {:primary => false})
        %td.raid_date= loot.raid.start_at.strftime('%Y-%m-%d (%a)')