<% form_for(@post) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :topic_id %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit "Create" %>
  </div>
<% end %>
