<p>
  Achievement: <%= @achievement.title %>
</p>
<p>
  Description: <%= @achievement.description %>
</p>
<% if @achievement.criterias %>
  <%= render :partial => 'achievements', :object => @achievement.criterias %>
<% end %>
<p>
  Raiders that have:
  <%= @achievement.raiders_with_achievement.sort{|a,b| a.name<=>b.name}.map {|toon| colored_toon_name(toon)}.join(', ') %>
</p>
<p>
  Raiders that need:
  <%= @achievement.raiders_without_achievement.sort{|a,b| a.name<=>b.name}.map {|toon| colored_toon_name(toon)}.join(', ') %>
</p>