<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag :base %>
    <%= stylesheet_link_tag :base %>
    <% if false %>
      <%= stylesheet_link_tag "application" %>
      <%= stylesheet_link_tag 'wow' %>
      <%= javascript_include_tag "http://www.wowhead.com/widgets/power.js" %>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'misc' %>
      <%= stylesheet_link_tag 'tablesorter-style' %>
      <%= javascript_include_tag 'jquery.tablesorter.js' %>
      <%= javascript_include_tag 'supernote' %>
    <% end %>
  </head>
  <body>
    <div class="head">
      <div id="site-name">
        <%= link_to GUILD_NAME, root_path %>
      </div>
      <%= render :partial => 'sessions/status' %>
      <div style="clear:both;"></div>
    </div>
    <%= render :partial => 'layouts/menus' %>
    <div class="content">
      <%= render :partial => 'layouts/flashes' if flash.length > 0 -%>
      <%= yield %>
    </div>
  </body>
</html>
